doctype html
html
    head
        title PPAP
    body
        h1 PPAP
        p Server is running
        a(href='/swagger?url=/api/docs') API Documentation
        br
        br
        br
        br
        p My favorite Hamburger clip:
        iframe(width='560' height='315' src='https://www.youtube.com/embed/Z6oeAdemFZw?rel=0' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen)